body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    width: 584px;
}
.block {
    flex-direction: column;
    width: 270px;
    height: 200px;
    border: 1px solid saddlebrown;
    margin: 10px;
    border-radius: 5px;
}
.title {
    width: 100%;
    background-color: deepskyblue;
    font-weight: bold;
    overflow: hidden;
}
.totalCompanies {
    display: flex;
    align-items: center;
}
.countOfCompanies {
    font-size: 100px;
    color: lightblue;
    margin: 0;
}
.listOfCompanies {
    height: 175px;
    overflow-y: scroll;
}
.company {
    display: flex;
    align-items: center;
    height: 40px;
    border-top: 1px solid black;
}
.selectedCompany {
    background-color: lightblue;
}
.companyPartnersDisable {
    display: none;
}
.companyPartnersShow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin: 20px 10px 20px 10px;
    border: 1px solid saddlebrown;
    align-content: space-between;
    justify-content: center;
    overflow-x: scroll;
    border-radius: 5px;
}
.wrapCompanyPartner {
    display: flex;
    flex-wrap: wrap-reverse;
    overflow-x: scroll;
}
.companyPartner {
    width: 80px;
    min-height: 45px;
    background-color: #8cc6ff;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
}
@media (max-width: 620px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .companyPartnersShow {
        width: 270px;
    }
}